<h1>Heyy <%= data.name %></h1>
<p>Your password has been changed upon your request if your are feeling it's not you who changed the password click the link below and change your password again</p>
<a href="http://localhost:8000/user/forgot-password">Click Here</a><br>
<strong>Thank You!!</strong>