<h1>Hello <%= data.user.name %></h1>
<p>We got a request for resetting your password please click the following link</p>
<a href="https://charitable.onrender.com/user/auth/forgot-password-verify/?auth_key=<%= data.auth_key %>">Click Here</a>