<form action="/user/auth/forgot-password-change" method="post">
    <input type="hidden" name="userId" value="<%= user_pwd_change %>">
    <input type="hidden" name="auth_key" value="<%= auth_key %>">
    <label for="password" class="form-label">New Password</label>
    <input type="password" name="password" id="password" class="form-control">
    <label for="password" class="form-label">Confirm Password</label>
    <input type="password" name="cpassword" id="cpassword" class="form-control">
    <button class="btn btn-primary" type="submit">Submit</button>
</form>